<div class="container">
	<div class="placeholder">
	  <div class="parallax-window" data-parallax="scroll" data-image-src="img/alcala.webp">
		<div class="tm-header">
		  <div class="row tm-header-inner">
			<div class="col-md-6 col-12">
			  <img src="img/logo.png" alt="Logo" class="tm-site-logo" />
			  <div class="tm-site-text-box">
				<h1 class="tm-site-title">Restaurante Alcalá</h1>
				<h6 class="tm-site-description">Parrilla & Mar</h6>
			  </div>
			</div>
			<nav class="col-md-6 col-12 tm-nav">
			  <ul class="tm-nav-ul">
				<li class="tm-nav-li"><a routerLink="/menu" routerLinkActive="active" class="tm-nav-link">Menu</a></li>
				<li class="tm-nav-li"><a routerLink="/about" routerLinkActive="active" class="tm-nav-link">About</a></li>
				<li class="tm-nav-li"><a routerLink="/contact" routerLinkActive="active" class="tm-nav-link">Contact</a></li>
			  </ul>
			</nav>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <br>
 <router-outlet></router-outlet>
  
  <footer class="tm-footer text-center">
	<p>© 2023 Restaurante Alcalá. Todos los derechos reservados.
	  | <a rel="nofollow" href="https://www.instagram.com/alcalarestaurante?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></p>
  </footer>
  